$primary-color: #93032e;
$greeny-blue: #0b7a75;
$pinky-color: #c65b7c;
$purple: #5b3758;

$green: #83b692;
$light-pink : #f9ada0;
$bright-pink : #f9627d;
$purpley-pink : #c65b7c;
$violet : #5b3758;
$text-color : #9e9e9e;

$medium-and-up: (min-width: 601px);

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Courgette|Macondo+Swash+Caps|Permanent+Marker|Rock+Salt');

//---------------------------------------cards

img.small-activator {
  height: 280px;
  object-fit: cover;
}

div.small-card-content {
  height: 150px;
  vertical-align: middle;
}

.card-title {
  font-family: 'Courgette', cursive !important;
}

div.small-card-action {
  padding-bottom : 20px;
}

.card span.small-card-title {
  font-size: 22px;
}

//---------------------------------------navbar

nav,
.page-footer {
  background-color : $purpley-pink;
}

nav ul a:hover {
  color: #ffffff;
}

@media (min-width: 993px) and (max-width: 1199px) {
  #nav-mobile {
    display: none !important;
  }
  .sidenav-trigger {
    display: inline-block !important;
  }
}

.nav-right {
  padding-right: 10px;
}

.brand-logo {
  height: 56px;
  font-family: "Macondo Swash Caps", cursive;
}

.brand-logo:hover {
  color: #ffffff;
}

@media (min-width: 601px) {
  .brand-logo {
    height: 64px;
  }
}

.account {
  padding-right: 7px;
}

.dropdown {
  margin-left: 5px;
}

.dropdown-trigger:hover {
  color: #ffffff;
}

ul#account-dropdown {
  width: 116px !important;
  top: 64px !important;
  float: right !important;
}

.dropdown-content li > a {
  color: $primary-color;
}

//----------------------------------------recipes.html

#filter-container {
  margin-top: 10px;
  margin-bottom: 0px;
}

#filter-container,
#filter-form {
  padding-top: 10px;
  color: #9e9e9e;
}

#filter-form {
  min-height: 300px !important;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.no-margin{
  margin-bottom: 0px;
}

button.sort {
  background-color: $light-pink !important;
}

button.sort:hover,
.filter-buttons:hover {
  background-color: $bright-pink !important;
}

#buttons-filter {
  padding-left: 10px;
}

.filter-buttons {
  background-color: $light-pink !important;
  border-radius: 25px;
}

a:hover {
  color: #36bafc;
}

.add {
  background-color: $greeny-blue;
}

.pagination li.active {
  background-color: $bright-pink !important;
}

@media (min-width: 601px) {
  #filter-form {
    min-height: 170px !important;
  }
  #buttons-filter {
    padding-top: 20px;
  }
}
@media (min-width: 993px) {
  #filter-form {
    min-height: 100px !important;
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  .select-wrapper input.select-dropdown {
    font-size: 14px;
  }
  #buttons-filter {
    padding-top: 0px;
    text-align: center;
  }
  .filter-buttons {
    margin-bottom: 5px;
  }
}

//----------------------------------------viewrecipe.html

.single-card img {
  max-height: 75vh!important;
  object-fit: cover!important;
}

#ingredient-list {
  margin-left: 10px;
}

.method {
  padding-left: 24px;
}

.chip {
  display: inline-block;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  margin-right: 0;
  color: $primary-color;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #c65b7c;
}

.ingred-preview {
  margin-bottom: 70px;
}

//----------------------------------------addrecipe.html

.form-card {
  padding: 5px 10px;
}

.header-row {
  margin-bottom: 0;
}

ul#ingred-list {
  margin-top: 20px;
  margin-left: 40px !important;
}

@media (min-width: 601px) {
  ul#ingred-list {
    margin-top: 30px;
  }
}

#tags {
  margin-top: 10px;
}


//---------------------------------------toprecipes.html

.header {
  font-family: 'Courgette', cursive;
}