<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

{# Dropdown menu options visible only to logged in users #}
<ul id="account-dropdown" class="dropdown-content">
  <li><a href="{{url_for('user_account', user_name=session['username'])}}">My Account</a></li>
  <li><a href="{{ url_for('logout') }}">Sign out</a></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <a href="{{ url_for('get_recipes') }}" class="brand-logo center">For Cook's Sake</a>
        <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        {# Main links navigation. Displayed to the left on larger screens. Hidden and replaced with side menu on small screens #}
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{{ url_for('get_recipes') }}">All Recipes</a></li>
            <li><a href="{{ url_for('top_recipes') }}">Top Recipes</a></li>
            <li><a href="{{ url_for('meal_type')}}">Browse by meal</a></li>
            <li><a href="{{ url_for('add_recipe') }}">Add new Recipe</a></li>
        </ul>
        <div class="right nav-right hide-on-med-and-down">
            {# Displays user name and dropdown menu when user is logged in #}
            {% if 'username' in session %}
                <a href="#!" class="dropdown-trigger" data-target="account-dropdown">
                    <i class="material-icons account" style="display: inline-block; position: absolute; right: 70px">account_circle</i>
                    <span style="position: absolute; right: 35px;">{{ session['username'] }}</span>
                    <i class="material-icons dropdown right">arrow_drop_down</i>
                </a>
            {% else %}
                {# When user is not logged in, provide links to login form and register forms #}
                <a class="waves-effect waves-light btn" href="{{ url_for('login') }}">Sign in</a>
                <a class="waves-effect waves-light btn" href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>

<ul class="sidenav collection" id="mobile-menu">
{# Menu slides in from side when burger menu button is clicked on mobile/ small devices #}
    <li class="collection-item">
        <a href="{{ url_for('get_recipes') }}">All Recipes</a>
        <a href="{{ url_for('top_recipes') }}">Top Recipes</a>
        <a href="{{ url_for('meal_type')}}">Browse by meal</a>
        <a href="{{ url_for('add_recipe') }}">Add new Recipe</a>
    </li>
    <li class="collection-item">
        {# If user is logged in, provide link to the user's account and the logout button #}
        {% if 'username' in session %}
            <a href="{{url_for('user_account', user_name=session['username'])}}"><i
                    class="material-icons" style="display: inline-block">account_circle</i>{{ session['username'] }}'s Account</a>
            <a class="waves-effect waves-light btn" href="{{ url_for('logout') }}">Sign out</a>
        {% else %}
        {# If user is not logged in, provide links to sign in/ register #}
            <a class="waves-effect waves-light btn" href="{{ url_for('login') }}">Sign in</a>
            <a class="waves-effect waves-light btn" href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </li>
</ul>

{# Create section where any error messages will go, if required #}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes toast" style="position: initial">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        <i class="close material-icons">close</i>
    </div>
    {% endif %}
{% endwith %}

<div class="container">
    {% block content %} {% endblock %}
</div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Website Purpose</h5>
                <p class="grey-text text-lighten-4">This website is designed for users to store their own recipes and discover new ones.<br>
                Create an account to easily store and view your own recipes, and to save other user's recipes as favourites.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{{ url_for('get_recipes') }}">All Recipes</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ url_for('top_recipes') }}">Top Recipes</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ url_for('meal_type')}}">Browse by meal</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ url_for('add_recipe') }}">Add new Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © For Cook's Sake
            <span class="grey-text text-lighten-4 right" >Source code on <a href="https://github.com/Beibhinn/data-milestone-project" target="_blank">GitHub</a>. Deployed on Heroku.</span>
        </div>
    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').formSelect();
        $('.sidenav').sidenav();
        $('.dropdown-trigger').dropdown();
        $('.fixed-action-btn').floatingActionButton();
        $('.tabs').tabs();
    });
    $('.input-recipe-tags').chips({
        placeholder: 'Enter a tag',
        secondaryPlaceholder: '+Tag',
        autocompleteOptions: {
            data: {
            {% for tag in tags %}
                '{{ tag["tag_name"] }}': null,
            {% endfor %}
            },
            limit: Infinity,
            minLength: 1
        },
        data: [
            {% if recipe and recipe.tag_name %}
                {% for tag in recipe.tag_name %}
                    {tag: "{{ tag }}"},
                {% endfor %}
            {% endif %}
        ]
    });
    $('#add_new').click(function () {
        JSON.stringify(M.Chips.getInstance($('.input-recipe-tags')).chipsData);
    });
    $('#form').submit(function () {
        let tags = M.Chips.getInstance($('.input-recipe-tags')).chipsData;
        let input = $("<input>")
            .attr("type", "hidden")
            .attr("name", "tag_name")
            .val(JSON.stringify(tags));
        $(this).append(input);
        console.log(tags);
        return true;
    });
    $(".close").on('click', function () {
        event.target.parentElement.remove()
    });

    let ingredientCount = 1;
    $("#add-ingred").on('click', function() {
        $('#ingred-list').append(`<li><textarea name='ingredients[${ingredientCount++}]' class="materialize-textarea"></textarea></li>`);

        $("#ingred-cont>a.delete").css('display', 'inline-block');
    });

    $("#del-ingred").on('click', function() {
        $('#ingred-list>li:last').remove();

        let listCount = $("#ingred-list").children().length;
        if (listCount == 1) {
            $("#ingred-cont>a.delete").css('display', 'none');
        }
    });

    let methodCount = 1;
    $("#add-method").on('click', function() {
        $('#method-list').append(`<li><textarea name='method[${methodCount++}]' class="materialize-textarea"></textarea></li>`);

        $("#method-cont>a.delete").css('display', 'inline-block');
    });
    $("#del-method").on('click', function() {
        $('#method-list>li:last').remove();

        let listCount = $("#method-list").children().length;
        if (listCount == 1) {
            $("#method-cont>a.delete").css('display', 'none');
        }
    });

</script>
{% block scripts %} {% endblock %}
</body>

</html>