<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{{ url_for('add_recipe') }}">Add new Recipe</a></li>
            <li><a href="#">Link2</a></li>
            <li><a href="#">Link3</a></li>
        </ul>
        <div class="right">
            {% if 'username' in session %}
            <a href="{{url_for('user_account', user_name=session['username'])}}">{{ session['username'] }}<i
                    class="material-icons" style="display: inline-block">account_circle</i></a>
            {% else %}
            <a class="waves-effect waves-light btn" href="{{ url_for('login') }}">Sign in</a>
            <a class="waves-effect waves-light btn" href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flashes toast" style="position: initial">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    <i class="close material-icons">close</i>
</div>
{% endif %}
{% endwith %}
<div class="container">
    {% block content %} {% endblock %}
</div>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">This project is designed for users to store their own recipes and discover new ones</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © For Cooks Sake
            <a class="grey-text text-lighten-4 right" href="#!">Source code on GitHub. Deployed on Heroku</a>
        </div>
    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
    $('.input-recipe-tags').chips({
        placeholder: 'Enter a tag',
        secondaryPlaceholder: '+Tag',
        autocompleteOptions: {
            data: {
            {% for tag in tags %}
                '{{ tag["tag_name"] }}': null,
            {% endfor %}
            },
            limit: Infinity,
            minLength: 1
        }
    });
    $('#add_new').click(function () {
        JSON.stringify(M.Chips.getInstance($('.input-recipe-tags')).chipsData);
    });
    $('#form').submit(function () {
        let tags = M.Chips.getInstance($('.input-recipe-tags')).chipsData;
        let input = $("<input>")
            .attr("type", "hidden")
            .attr("name", "tag_name")
            .val(JSON.stringify(tags));
        $(this).append(input);
        return true;
    });
    $(".close").on('click', function () {
        event.target.parentElement.remove()
    });

    $(document).ready(function () {
        $('.tabs').tabs();
    });

</script>
{% block scripts %} {% endblock %}
</body>

</html>