{% extends 'base.html' %}
{% block content %}
<div id="filter-container" class="row">
    <span>
        <label>Filters:</label>
        <!-- button will display a filter form when clicked -->
        <button class="sort btn btn-floating waves-effect btn-flat " id="filter">
            <i class="material-icons">filter_list</i></button>
    </span>

    <span class="right">
        <label>Sort:</label>
        <!-- Will sort recipes by title, alphabetically -->
        <button class="sort btn btn-floating waves-effect btn-flat white-text"
                            onclick="sort('title','asc')" title="Sort by title, alphabetically">A-Z</button>
        <!-- Will sort recipes by title, reverse alphabetically -->
        <button class="sort btn btn-floating waves-effect btn-flat white-text"
                            onclick="sort('title','desc')" title="Sort by title, reverse alphabetically">Z-A</button>
        <!-- Will sort recipes by likes, lowest to highest -->
        <button class="sort btn btn-floating waves-effect btn-flat white-text"
                            onclick="sort('like_count','asc')" title="Sort by likes, low to high"><i class="material-icons">arrow_upward</i></button>
        <!-- Will sort recipes by likes, highest to lowest -->
        <button class="sort btn btn-floating waves-effect btn-flat white-text"
                            onclick="sort('like_count','desc')" title="Sort by likes, high to low"><i class="material-icons">arrow_downward</i></button>
	</span>
        <form id="filter-form" class="card" action="{{ url_for('get_recipes') }}" method="GET" style="display: none">
            <div class="input-field col s12 m6 l3">
                <!-- all cuisine types in the cuisine database will auto-populate this dropdown menu-->
                <select name="cuisine_name">
                    <option value="" disabled selected>Choose your option</option>
                    {% for cuisine in cuisines %}
                        <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                    {% endfor %}}
                </select>
                <label>Cuisine Select</label>
            </div>
            <div class="input-field col s12 m6 l3">
                <!-- all users in the users database will auto-populate this dropdown menu-->
                <select name="user_name">
                    <option value="" disabled selected>Choose your option</option>
                    {% for user in users %}
                        <option value="{{user.user_name}}">{{user.user_name}}</option>
                    {% endfor %}}
                </select>
                <label>User Select</label>
            </div>
            <div class="input-field col s12 m6 l3">
                <!-- all tags in the tags database will auto-populate this dropdown menu. Multiple tags can be selected-->
                <select multiple name="tag_name[]">
                    <option value="" disabled selected>Choose your option</option>
                    {% for tag in tags %}
                        <option value="{{tag.tag_name}}">{{tag.tag_name}}</option>
                    {% endfor %}}
                </select>
                <label>Tag Multiple Select</label>
            </div>
            <div id="buttons-filter" class="col s12 m6 l3">
                <button class="filter-buttons btn waves-effect waves-light" type="submit" name="action">Filter
                    <i class="material-icons right">filter_list</i>
                </button>
                <button class="filter-buttons btn waves-effect waves-light" type="reset" name="action">Clear
                    <i class="material-icons right">clear</i>
                </button>
            </div>
        </form>
</div>
<div class="row no-margin">
    <!-- Total results are shown indicating how many recipes were found and are displayed across all pages. Only 12 recipes will be displayed per page-->
    <span class="right">
        <p class="grey-text"> Total results: {{ total }}</p>
    </span>
</div>
<div class="row">
    <!-- If no recipes found, body of the page will be empty. Display message to inform the user search has been completed but no results matching their search were found-->
    {% if recipes|length == 0 %}
        <div class="toast" style="position: initial">No recipes found.<i class="close material-icons">close</i></div>
    {% else %}
        <!-- Display a recipe card for each recipe found which matches search -->
        {% for recipe in recipes %}
            <div class="col s12 m6 l4">
                <div class="card sticky-action">
                    <div class="card-image small-card-image waves-effect waves-block waves-light">
                        <img class="activator small-activator" src="{{recipe.photo_src}}">
                    </div>
                    <div class="card-content small-card-content">
                            <span class="card-title small-card-title activator grey-text text-darken-4">{{recipe.title}}<i
                                    class="material-icons right">more_vert</i></span>
                        <p>By <a href="{{url_for('user_recipes', user_name=recipe.user_name)}}">{{recipe.user_name}}</a></p>
                    </div>
                    <div class="card-action small-card-action">
                        <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}" class="link">Full recipe</a>
                        <div class="right">
                            {% if recipe.likes|length == 1 %}
                                {{ recipe.likes|length }} like
                            {% else %}
                                {{ recipe.likes|length }} likes
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{recipe.title}}<i
                                    class="material-icons right">close</i></span>
                        <div class="ingred-preview">
                        {% for item in recipe.ingredients %}
                            <p>{{ item }}</p>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="center">
    <ul class="pagination">
        <li class="waves-effect"><a href="#" onclick="decrement_page();"><i class="material-icons">chevron_left</i></a></li>
        {% for i in range(num_pages) %}
            <li class="waves-effect"><a href="#" onclick="go_to_page({{ loop.index }});">{{ loop.index }}</a></li>
        {% endfor %}
        <li class="waves-effect"><a href="#" onclick="increment_page();"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>
<div class="fixed-action-btn">
    <a href="{{url_for('add_recipe')}}" class="btn-floating btn-large waves-effect waves-light add"><i
            class="material-icons">add</i></a>
</div>
{% endblock %}
{% block scripts %}
<script>
    $("#filter").click(function() {
        $("#filter-form").slideToggle()
    });


    function sort(by, order) {
        if ('URLSearchParams' in window) { // https://stackoverflow.com/a/41542008
            const searchParams = new URLSearchParams(window.location.search);
            searchParams.set('sort', by);
            searchParams.set('order', order);
            window.location.search = searchParams.toString();
        }
    }

    function go_to_page(page_number) {
        if ('URLSearchParams' in window) {
            const searchParams = new URLSearchParams(window.location.search);
            searchParams.set('page', page_number);
            window.location.search = searchParams.toString();
        }
    }

    function increment_page() {
        if ('URLSearchParams' in window) {
            const searchParams = new URLSearchParams(window.location.search);
            const currentPage = parseInt(searchParams.get('page') || 1);
            if (currentPage >= {{ num_pages }}) {
                return;
            }
            searchParams.set('page', currentPage + 1);
            window.location.search = searchParams.toString();
        }
    }

    function decrement_page() {
        if ('URLSearchParams' in window) {
            const searchParams = new URLSearchParams(window.location.search);
            const currentPage = parseInt(searchParams.get('page') || 2);
            if (currentPage <= 1) {
                return;
            }
            searchParams.set('page', currentPage - 1);
            window.location.search = searchParams.toString();
        }
    }

    $(document).ready(function() {
        if ('URLSearchParams' in window) {
            const searchParams = new URLSearchParams(window.location.search);
            const page = searchParams.get('page') || 1;
            if (page) {
                const pagination = $('.pagination').children();
                pagination.eq(page)
                    .addClass('active')
                    .removeClass('waves-effect');
                if (page <= 1) {
                    pagination.first()
                        .addClass('disabled')
                        .removeClass('waves-effect')
                        .off("click");
                }
                if (page >= {{ num_pages }}) {
                    pagination.last()
                        .addClass('disabled')
                        .removeClass('waves-effect')
                        .off("click");
                }
            }
        }
    });
</script>
{% endblock %}








