{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h4 class="header grey-text center">Top Recipes</h4>
</div>
<div class="row">
    {% if recipes.count == 0 %}
    <div class="toast" style="position: initial">No recipes found.<i class="close material-icons">close</i></div>
    {% else %}
    {% for recipe in recipes %}
    <div class="s12 m6 l4">
        <div class="card sticky-action">
            <div class="card-image small-card-image waves-effect waves-block waves-light">
                <img class="activator small-activator" src="{{recipe.photo_src}}">
            </div>
            <div class="card-content small-card-content">
                    <span class="card-title small-card-title activator grey-text text-darken-4">{{recipe.title}}<i
                            class="material-icons right">more_vert</i></span>
                <p>By <a href="{{url_for('user_recipes', user_name=recipe.user_name)}}">{{recipe.user_name}}</a></p>
            </div>
            <div class="card-action small-card-action">
                <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}" class="link">Full recipe</a>
                <div class="right">{{ recipe.likes|length }} likes</div>
            </div>
            <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{recipe.title}}<i
                            class="material-icons right">close</i></span>
                <div class="ingred-preview">
                {% for item in recipe.ingredients %}
                <p>{{ item }}</p>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="fixed-action-btn">
    <a href="{{url_for('add_recipe')}}" class="btn-floating btn-large waves-effect waves-light add"><i
            class="material-icons">add</i></a>
</div>
{% endblock %}








