{% extends 'base.html' %}
{% set is_signed_in = 'username' in session %}
{% set is_owner = session['username'] == recipe.user_name %}
{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-image single-card">
                <img src="{{recipe.photo_src}}">
                {# Edit and delete buttons will only be visible and available to the user who posted the recipe. Clicking delete will open a confirmation dialogue window #}
                {% if is_owner %}
                    <a onclick="confirmDelete()"
                       class="btn-floating halfway-fab waves-effect waves-light red" style="right: 70px;"><i
                            class="material-icons">delete</i></a>
                    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
                       class="btn-floating halfway-fab waves-effect waves-light blue"><i
                            class="material-icons">mode_edit</i></a>
                {% endif %}
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{recipe.title}}</span>
                <p>By <a href="{{url_for('user_recipes', user_name=recipe.user_name)}}">{{recipe.user_name}}</a></p>
                <p>Cuisine: <a href="{{url_for('cuisine_recipes', cuisine_name=recipe.cuisine_name)}}">{{recipe.cuisine_name}}</a>
                </p>
                <div>
                    <h6>Ingredients</h6>
                    <ul id="ingredient-list">
                        {% for item in recipe.ingredients %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h6>Method</h6>
                    <ol class="method">
                        {% for list in recipe.method %}
                            <li>{{ list }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="card-action">
                <div class="row">
                {% for tag in recipe.tag_name %}
                    <div class="chip">
                        <a href="{{url_for('tag_recipes', tag_name=tag)}}">{{ tag }}</a>
                    </div>
                {% endfor %}
                {# User will only be able to like and favourite other user's recipes. The user's own recipes are automatically saved to their own account #}
                {% if is_signed_in and not is_owner %}
                    <div class="right" style="display: inline-block">
                        <i style="font-size:18pt"
                           id="like"
                           onclick="toggleLike()"
                           class="{{ 'fas' if is_liked else 'far' }} fa-thumbs-up"></i>
                        <i style="font-size:18pt"
                           id="favourite"
                           onclick="toggleFav()"
                           class="{{ 'fas' if is_favourite else 'far' }} fa-heart"></i>
                    </div>
                {% endif %}
                    </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}

<script>
    function toggleFav() {
        const button =  $("#favourite");

        button.toggleClass("fas").toggleClass("far");

        $.post("{{url_for('set_recipe_favourited', recipe_id=recipe._id)}}", {
            favourite: button.hasClass("fas")
        });
    }

    function toggleLike() {
        const button =  $("#like");

        button.toggleClass("fas").toggleClass("far");

        $.post("{{url_for('set_recipe_liked', recipe_id=recipe._id)}}", {
            liked: button.hasClass("fas")
        });
    }

    function confirmDelete() {
        if (confirm('Are you sure you want to delete this recipe?')) {
           $.post("{{url_for('delete_recipe', recipe_id=recipe._id)}}")
            .done(function(){
                window.location.href = "{{ url_for('get_recipes') }}";
            });
        } else {
           return false;
        }
    }

</script>

{% endblock %}